body {
  background:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
}

svg {
  border: 2px solid black;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.container {
  position: relative;
}

.tooltip {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  color: #000;
  display: none;
  position: absolute;
  z-index: 100;
  text-align: center;
  opacity: 0.8;
}

.tooltip.show {
  display: block;
}

.tooltip p {
  margin: 5px;
}

